/* 레이아웃 스타일 정의 */
@use '../abstracts/index' as *;
@use '../base/index' as *;
@use '../abstracts/mediaQuery' as *;

html {
  font-size: 62.5%;
}

/*
* 다크, 라이트 테마 변수
*/
//기본 라이트모드 설정
:root {
  @each $key, $value in $light-theme {
    --#{$key}: #{$value};
  }
}

//시스템 다크모드 기본값
@media (prefers-color-scheme: dark) {
  :root {
    @each $key, $value in $dark-theme {
      --#{$key}: #{$value};
    }
  }
}

/* 사용자가 직접 선택한 테마 */
:root[data-theme='light'] {
  @each $key, $value in $light-theme {
    --#{$key}: #{$value};
  }
}

:root[data-theme='dark'] {
  @each $key, $value in $dark-theme {
    --#{$key}: #{$value};
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100dvh;
  min-width: 36rem;
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--text-color);
  word-break: keep-all;
  word-wrap: break-word;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;

  &.opened {
    overflow-y: hidden;
  }
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100dvh;
}

main {
  flex: 1;

  >* {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100vh - $header-mobile-height - 3.5rem);
    padding: 4rem 0;

    @include media-breakpoint-up {
      min-height: calc(100vh - $header-pc-height - 3.5rem);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  position: relative;
}